.mid_path{
	height: 4.2vw;
	line-height: 4.2vw;
	padding-left: 16vw;
	background-color: rgb(246,246,246);
}

.col_list{
	height: 32vw;
	margin-top: 6.25%;
}
.col_title{
	margin:1.4rem 0 2.4rem 0;
}
.col_check{
	width: 7.5rem;
	height: 1.875rem;
	line-height: 1.875rem;	
	margin-top: 2rem;
}
.col_img{
	width: 100%;
	height: 80%;
	background-image: url(../img/col_img01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.col_check{
	cursor: pointer;
}

.more_info{
	cursor: pointer;
}
.line{
	border-bottom: 1px solid rgb(229,229,229);
	margin-bottom: 4.2vw;
}
.mid_img{
	width: 100%;
	height: 27.1vw;
	background-image: url(../img/mid_img.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.mid_info >div{
	margin-bottom: 3.125vw;
}

/*底部资讯css*/

.new_img{
	width: 100%;
	height: 12.5vw;
	background-image: url(../img/new_img01.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.new_check{
	border: 1px solid rgb(229,229,229);
	width: 100%;
	height: 1.875rem;
	line-height: 1.875rem;
}
.line{
	border-bottom: 1px solid rgb(231,232,233);
	padding-top: 1.875rem;
	margin-bottom: 5rem;
}
