/*头部*/

.top{
	background-color: rgb(215,161,195);
}
.top_type{
	width: 67%;
	margin: 0 auto;
	height: 8.4vw;
	line-height: 8.4vw;
}
.logo{
	height: 100%;
}
.logo_img{
	height: 100%;
	background-image: url(../img/logo.png);
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center;
	
}
.nav{
	width: 74%;
	height: 100%;
	
	justify-content: space-between;
}
.nav >div{
	height: 70%;
	
}

/*悬停页*/
.hover_page{
	background-color: rgba(255,255,255,0.6);
	z-index: 2;
	position: fixed;
	width: 100%;
}
.hover_type{
	width: 67%;
	height: 16vw;
	margin: 0 auto;
	
}
.hover_art{
	width: 20%;
	height: 100%;
}
.hover_title{
	padding-top: 10%;
	height: 26%;
	border-bottom: 1px solid rgb(231,232,233);
}
.hover_content{
	flex-direction: column;
	justify-content: space-around;
	height: 50%;
	margin-top: 10%;
}
.hover_imgs{
	width: 60%;
	height: 80%;
	
	margin-top: 2.4%;
	justify-content: space-between;
	
}
.hover_imgs > div{
	width: 31.8%;
	
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center;
}
.hover_img01{
	background-image: url(../img/hover01.png);
}
.hover_img02{
	background-image: url(../img/hover02.png);
}
.hover_img03{
	background-image: url(../img/hover03.png);
}

/*轮播css*/

.swiper-container {
    width: 100%;
    
}  
.swiper-slide{
	height: 24vw;
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-position: center;
}



/*自动轮播参数*/


.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: linear; /*之前是ease-out*/
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    margin: 0 auto;
}


/*自动轮播结束*/

/*轮播css结束*/